body {
  background-color: beige;
  font-family: helvetica;
  color: darkslategrey;
}

h1 {
  color: beige;
}

h2 {
  color: rosybrown;
}

header {
  margin: 1%;
  padding: 2%;
  background: url(images/metal.JPG);
  color: white;
}

.column-1 {
  background-color: lightblue;
  width: 43%;
  height: 50%;
  margin: 1%;
  padding: 2%;
  display: inline-block;
  float: left;
  border:3px solid chocolate;
}

.column-2 {
  background-color: lightblue;
  width: 43%;
  height: 50%;
  margin: 1%;
  padding: 2%;
  display: inline-block;
  float: right;
  border:3px solid chocolate;
}

footer {
  display: inline-block;
  float: right;
  margin: 1%;
  padding: 2%;
}

a {
  color: black;
}

a:hover {
  color: purple;
}

a:visited {
  color: white;
}